/* body {
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  /* background: #00b5ad4d !important; */
  background: #00b5ad26 !important;
  /* background: #eee8f1db !important; */
}

#navBarSegment {
  margin: 0;
}

#logo {
  height: 90px;
  width: 90px;
}

#logoSmall {
  height: 60px;
  width: 60px;
  margin: -8px 0 -15px 100px;
}

#background {
  max-height: 225px;
}

.ui.menu {
  justify-content: center;
}

#logoInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#leftColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topHederSegment {
  max-height: 160px;
  margin: -10px -20px 0 0;
}

h1.ui.header {
  margin: 20px 0 0 0;
  /* color: mediumturquoise; */
  color: #9771bd;
}

#h1TopHeader {
  color: #9771bd;
  margin-bottom: 5px;
}

p {
  color: mediumturquoise;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#segmentAboutMe {
  height: 35px;
  text-align: center;
  align-items: center;
  margin: -15px -15px 0 -21px;
  padding-top: 0;
}
.ui.header:first-child {
  margin-bottom: -5px;
}

#shortAbout {
  color: black;
  padding: 0 80px;
  margin-bottom: 30px;
  font-size: small;
  color: rebeccapurple;
}
#segmentAbout {
  padding: 10px 50px 0 10px;
}

#infoAbout {
  text-align: justify;
  color: black;
  font-size: small;
  /* min-height: 80px; */
  /* padding: 0 30px; */
}

#iconSegment {
  padding: 0;
}

#iconId {
  /* color: black; */
  color: rebeccapurple;
  font-size: xx-small;
  padding-top: 5px;
}

#iconCard {
  width: 80px;
}

#iconCardContent {
  padding: 10px 0;
  background: '#00b5ad4d';
}

#segmentProjects {
  height: 35px;
  text-align: center;
  align-items: center;
}

#cardContent {
  text-align: justify;
  font-size: 12px;
}
#projectCard {
  width: 250px;
}
#headerProjects {
  color: rebeccapurple;
  margin: 40px 0 25px 0;
  text-align: center;
}

#cardP {
  color: rebeccapurple;
  font-size: small;
  padding-top: 5px;
  text-align: center;
}
#cardTitle {
  min-height: 50px;
  color: rebeccapurple;
  text-align: center;
}
#unLi {
  min-height: 75px;
  margin: 15px 0;
  text-align: center;
}
#list {
  font-weight: bold;
  font-size: 10px;
}
#footerSegment {
  background: rgb(240 227 246);
  margin: 20px -20px 0 -20px;
  display: flex;
  justify-content: center;
}
